fastapi==0.115.0
uvicorn[standard]==0.32.0
firebase-admin==6.6.0
google-cloud-aiplatform==1.71.1
pydantic==2.10.3
python-dotenv==1.0.1
python-multipart==0.0.20
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.154.0